<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!--TestNG is the main file name as test in gradle any other xml file it's a task-->
<suite name="TestNG">
  <parameter name="BaseURL" value="https://qa.koel.app/"></parameter>
    <test name="Example Test" preserve-order="false">
        <classes>
            <!--<class name="LoginTestParallel"/>-->
            <!--<class name="LoginTests"/>-->
            <class name="BaseTest"/>
            <!--<class name="HomeTest"/>-->
            <!--<class name="RegistrationTestPOM"/>-->
            <!--<class name="ProfileTest"/>-->
            <!--<class name="AllSongsTestPOM"/>-->
           <!--<class name="PlayNextSongVerifyPOM"/>-->
            <!-- <class name="AddSongToPlaylistPOM"/>-->
            <!-- <class name="Homework19"/>-->
            <class name= "CucumberRunner"/>
       </classes>
   </test>
</suite>